body {
  font-family: 'Open Sans', sans-serif;
}


/* Search Bar */


.input-search {
  width: 100%; /* Adjust input width within the search bar */
  padding: 6px 10px; /* Adjust padding for input */
  font-size: 14px; /* Adjust font size for input */
}

/* Apply custom styles directly to InputGroup component */
.input-group.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%; /* Adjust width as needed */
  margin: 0 auto; /* Center the search bar horizontally */
}

 .navbar-container .search-button {
  background-color: black;
}

/* NAVBAR */
.navbar {
  background-color: black;
  color: #9754CB; /* Change text color to white */
  margin-bottom: 2rem;
  min-height: 6rem;
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.navbar-text{
  margin-right: 20px;
  
}

.nav-links a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.nav-right a {
  color: white;
  margin-left: 30px;
  font-size: 18px;
  text-decoration: none;
}
