body {
  font-family: 'Open Sans', sans-serif;
}


/* Search Bar */


.input-search {
  width: 100%; /* Adjust input width within the search bar */
  padding: 6px 10px; /* Adjust padding for input */
  font-size: 14px; /* Adjust font size for input */
}

/* Apply custom styles directly to InputGroup component */
.input-group.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%; /* Adjust width as needed */
  margin: 0 auto; /* Center the search bar horizontally */
}

/* NAVBAR */
.navbar {
  background-color: black;
  color: white; /* Change text color to white */
  margin-bottom: 2rem;
  min-height: 6rem;
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-text{
  margin-left: 5rem;
  
}

