

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}


/* Search Bar */


.input-search {
  width: 100%; /* Adjust input width within the search bar */
  padding: 6px 10px; /* Adjust padding for input */
  font-size: 14px; /* Adjust font size for input */
}

/* Apply custom styles directly to InputGroup component */
.input-group.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%; /* Adjust width as needed */
  margin: 0 auto; /* Center the search bar horizontally */
}

 .navbar-container .search-button {
  background-color: black;
}

/* NAVBAR */
.navbar {
  background-color: black;
  color: #9754CB; /* Change text color to white */
  margin-bottom: 2rem;
  min-height: 6rem;
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.navbar-text{
  margin-right: 20px;
  
}

.nav-links a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.nav-right a {
  color: white;
  margin-left: 30px;
  font-size: 18px;
  text-decoration: none;
}

.profile-dropdown.dropdown-menu.show{
  text-align:center;
  background-color: black;
  color: white;
}



/* Project component */


 .project-card.card {
  min-width: 700px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  
}

.project-info {
  display: flex;
  
}

.profile-project-info {
  display: flex;
  align-items: center;
  justify-content:center ;
  
  
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.project-button {
  margin: 5px;
  cursor: pointer;
  color:#9754CB;
}

.edit-button.btn{
  margin-left: 285px;
  background-color: #9754CB;
}

.delete-button.btn {
  margin-left: 200px;
}

.audio-player {
  width: 100%;
  height: 50px;
}


/* Home */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 20px;
  
}

/* Upload Page */

.upload-form-container {
  width: 1000px;
  border: 2px solid #ccc;
  padding: 20px;
  
}

.upload-container.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh; /* Adjust as needed */
  
}